{% extends 'base.html' %}

{% load static %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
</style>
{% block content %}
{% include 'navbar.html' %}

<div class="container mx-auto mt-10 p-6 bg-white rounded-lg shadow-lg">
    <h1 class="text-4xl font-extrabold mb-6 text-center text-[#52599D]" style="font-family: 'Nerko One', sans-serif;">Edit Product</h1>

    <form method="POST">
        {% csrf_token %}
        <div class="flex flex-col space-y-7">
            {{ form.as_p }}  
            <div class="flex justify-center">
                <input type="submit" value="Save Changes" class="bg-[#f49abb] text-white py-2 px-4 rounded-lg hover:bg-pink-500 transition duration-300"/>
            </div>
        </div>
    </form>
</div>

{% endblock %}
