<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petty Paws</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nerko+One&family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap">
    <style>
        body {
            background-color: #fef9f8; 
            margin: 0;
            padding: 30px; 
            font-family: 'Barlow Condensed', sans-serif; 
        }

        h1 {
            color: #9fbefc;
            font-family: 'Nerko One', sans-serif;
        }

        h4 {
            color: #f49abb;
            font-weight: 700;
        }

        p {
            color: #967bb6;
        }

        img {
            width: 300px;
            height: 300px;
        }
    </style>
    <h5 style="color: #52599D;"> Nama: {{ nama }}</h4>

    <h5 style="color: #52599D;"> Kelas: {{ kelas }}</h4>
        
    <h1>Petty Paws 🐾</h1>
</head>
<body>

    <h4> Name 🐰</h4>
    <p>{{ name }}</p>

    <img src="{{ image }}" style = 'width: 200; height: 200;'>

    <h4> Brands 🐱</h4>
    <p>{{ brands }}</p>

    <h4> Price 🐶</h4>
    <p>{{ price }}</p>

    <h4> Categories 🐹</h4>
    <p>{{ categories }}</p>

    <h4> Description 🐼</h4>
    <p>{{ description }}</p>

</body>
</html>
